#torch and torchvision are installed via the base image for GPU support and are available
pandas
numpy
matplotlib
requests
beautifulsoup4
scikit-learn
tqdm
yfinance
chronos-forecasting
chronos-forecasting[dev]